.btn-toolbar{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.container{
    margin-top: 10px;
    width: 800px;
    background: #ffffff;
}
header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    position: relative;
    z-index: 110;
    box-shadow: 0 2px 3px 0 hsla(0,0%,39%,.15);

}
.btn-default-wpccustom {
    color:#333;
    border-color: #f0f0f0;
    background-color: #f0f0f0;
}
.dropdown{
    display: inline-flex;
}
.btn-default-wpccustom.btn-active-wpccustom{
    color:#333;
    background-color: #c7c5c5;
}